# Files to ignore in the Git commits

### Coding related
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Jupyter Notebook
.ipynb_checkpoints
# VS Code
.vscode
*.code-workspace

### SLURM jobs related
submit*
slurm*
node_list*
*.log
gfnff_*
*.out
*.error
HT*
logs

### Project related
# Data
Dunbrack_library
data*/
# All test folders and files
test*
# Analysis folder
analysis

### Package related
*.egg-info/