# Files to ignore in the Git commits

### Coding related
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
# Jupyter Notebook
.ipynb_checkpoints
# VS Code
.vscode
*.code-workspace

### SLURM jobs related
slurm*
node_list*
*.log
*.out
*.error
HT*
logs

### Project related
# Data
data*/
# All test folders and files
test*
# Analysis and figures
analysis
visualisation/opt_steps
*png

### Package related
*.egg-info/